header{
     rgb(243, 243, 243);
    color: #000000;
    display: flex
    justfy content;
    }
    img{
        width: 100;
    }

    .img{
        position: center;
        padding: 0;
        width: 1194px;
        height: 633px;
        left: 123px;
        top: 215px; 
        
        background;  url(whatsapp-image-2022-09-14-at-09.22.55.jpeg)
    }

:root{
    --branco-pricipal:#FFFF;
    --cinza-secundario: #C0C0C0;
    --botao-ciano: #2ab19f;
    --cor-de-fundo:#0a0a0a;
}

    <body>{
        background-color: var(--cor-de-fundo)


    }