header{
     rgb(243, 243, 243);
    color: #000000;
    display: flex
    justfy content;
    }

    img{
        
    }

:root{
    --branco-pricipal:#FFFF;
    --cinza-secundario: #C0C0C0;
    --botao-ciano: #2ab19f;
    --cor-de-fundo:#0a0a0a;




    }

    body{
        background-color: var(--cor-de-fundo)


    }